@charset "UTF-8";
body,
p,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
input,
select,
textarea,
button,
th,
td,
menu {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

ul,
dl,
ol {
  list-style: none;
}

img,
fieldset,
input[type=submit] {
  border: 0 none;
}

em {
  font-style: normal;
}

strong {
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input[type=button] {
  cursor: pointer;
  border: 0 none;
}

/* 去掉移动端点击有背景色 */
label {
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

a,
button,
input,
img {
  -webkit-touch-callout: none;
}

img {
  /*禁止图片的点击事件，例如长按保存图片*/
  vertical-align: top;
}

input,
select,
textarea {
  outline: none;
}

a {
  text-decoration: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
  line-height: 0;
  visibility: hidden;
  overflow: hidden;
}

html,
body {
  /*禁止用户选择元素*/
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  /*禁止元素点击出现半透明黑色背景*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 针对移动端 */
html {
  height: 100%;
  width: 100%;
  font-family: "Heiti SC", "Microsoft YaHei", "sans-serif";
  outline: 0;
  -webkit-text-size-adjust: none;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  position: relative;
  font-size: 16px;
}

/*
  单位换算
    rem 实质上是算比例，设计图尺寸 / 1 比 1设计图时的跟字体大小   
*/
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 67.5px;
  background: #fff;
  box-sizing: border-box;
}
footer .footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 6px;
}
footer .footer-nav li {
  width: calc(100% / 4);
  text-align: center;
  font-size: 0;
}
footer .footer-nav li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #000;
  font-size: 0;
}
footer .footer-nav li a i {
  display: block;
  color: #ff9344;
  font-size: 35px;
  margin-bottom: 4px;
}
footer .footer-nav li a span {
  font-size: 12px;
}

body {
  padding: 62.5px 0 67.5px;
}

#main {
  padding: 0 11.5px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 62.5px;
  background: #fff;
  padding: 24px 11.5px 9px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
header .back-btn {
  width: 61.5px;
  height: 28.5px;
  border: 1px solid #ff9344;
  border-radius: 10px;
  text-align: center;
  line-height: 28.5px;
}
header h2.title {
  flex: 2;
  height: 100%;
  height: 28.5px;
  line-height: 28.5px;
  font-size: 13px;
  font-weight: normal;
  text-align: center;
}
header .cityBar {
  width: 79.5px;
  height: 28px;
  border: 1px solid #ff9344;
  border-radius: 2px;
  position: relative;
}
header .cityBar select {
  width: 100%;
  height: 100%;
  border: none;
  background-image: url(../assets/images/home/jiantou.png);
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 15px 7.5px;
  background-color: #fff;
  padding-left: 7.5px;
  -webkit-appearance: none;
  appearance: none;
}
header .cityBar select option {
  width: 100%;
  background: #fff;
}

header .stars i {
  color: #ff9344;
  font-size: 26px;
}

#main {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
#main .product {
  width: 100%;
}
#main .product img {
  width: 100%;
  height: 2.6rem;
}
#main .product .price-w {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 11px 0;
  margin-bottom: 25.5px;
}
#main .product .price-w strong {
  color: #ff9344;
  font-size: 36px;
}
#main .product .price-w strong span {
  margin-left: 4px;
}
#main .product .price-w .buy {
  background: #ff9344;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  padding: 7.5px 13px;
}
#main .product .praise {
  font-size: 0;
  padding: 0 11px;
  margin-bottom: 18px;
}
#main .product .praise .left {
  font-size: 15px;
  line-height: 18px;
  height: 18px;
}
#main .product .praise .left i {
  color: #ff9344;
  font-size: 19px;
  margin-right: 6.5px;
}
#main .product .praise .left strong {
  font-size: 15px;
  color: #ff9344;
}
#main .product .praise .right {
  line-height: 18px;
  height: 18px;
}
#main .product .praise .right a {
  font-size: 13px;
  color: #8e8e8e;
}
#main .product .praise .right a i {
  font-size: 13px;
  vertical-align: middle;
}
#main .merchant-w {
  padding: 0 11px;
  margin-bottom: 10px;
}
#main .merchant-w .title {
  color: #fff;
  background: #ff9344;
  font-weight: normal;
  padding: 9.5px 4.5px 8.5px 5.5px;
  position: relative;
}
#main .merchant-w .title:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  font-size: 23.5px;
  font-family: iconfont;
}
#main .merchant-w .store-lis .store-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.1rem;
}
#main .merchant-w .store-lis .store-item img {
  width: 88.5px;
  height: 88.5px;
}
#main .merchant-w .store-lis .store-item .right {
  width: calc(100% - 88px);
  font-size: 0;
  padding-left: 11.5px;
  padding-top: 6.5px;
  padding-right: 60px;
  position: relative;
}
#main .merchant-w .store-lis .store-item .right .store-item-t {
  font-size: 15px;
  margin-bottom: 4.5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#main .merchant-w .store-lis .store-item .right .stars {
  font-size: 0;
}
#main .merchant-w .store-lis .store-item .right .stars i {
  color: #ff9344;
  font-size: 0.36rem;
}
#main .merchant-w .store-lis .store-item .right .stars i:not(:last-of-type) {
  margin-right: 0.02rem;
}
#main .merchant-w .store-lis .store-item .right .stars strong {
  font-size: 13px;
  color: #929292;
  margin-left: 5px;
}
#main .merchant-w .store-lis .store-item .right .distance {
  color: #929292;
  font-size: 12px;
  margin-bottom: 4px;
  margin-top: 2.5px;
}
#main .merchant-w .store-lis .store-item .right a.detail {
  color: #ff9344;
  font-size: 10px;
}
#main .merchant-w .store-lis .store-item .right input[type=button] {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 55.5px;
  height: 29.5px;
  background: #ff9344;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  line-height: 29.5px;
  font-size: 15px;
  outline: none;
  -webkit-appearance: none;
}

/*# sourceMappingURL=product.css.map */
