@charset "UTF-8";
body,
p,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
input,
select,
textarea,
button,
th,
td,
menu {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

ul,
dl,
ol {
  list-style: none;
}

img,
fieldset,
input[type=submit] {
  border: 0 none;
}

em {
  font-style: normal;
}

strong {
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input[type=button] {
  cursor: pointer;
  border: 0 none;
}

/* 去掉移动端点击有背景色 */
label {
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

a,
button,
input,
img {
  -webkit-touch-callout: none;
}

img {
  /*禁止图片的点击事件，例如长按保存图片*/
  vertical-align: top;
}

input,
select,
textarea {
  outline: none;
}

a {
  text-decoration: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
  line-height: 0;
  visibility: hidden;
  overflow: hidden;
}

html,
body {
  /*禁止用户选择元素*/
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  /*禁止元素点击出现半透明黑色背景*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 针对移动端 */
html {
  height: 100%;
  width: 100%;
  font-family: "Heiti SC", "Microsoft YaHei", "sans-serif";
  outline: 0;
  -webkit-text-size-adjust: none;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  position: relative;
  font-size: 16px;
}

/*
  单位换算
    rem 实质上是算比例，设计图尺寸 / 1 比 1设计图时的跟字体大小   
*/
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 67.5px;
  background: #fff;
  box-sizing: border-box;
}
footer .footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 6px;
}
footer .footer-nav li {
  width: calc(100% / 4);
  text-align: center;
  font-size: 0;
}
footer .footer-nav li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #000;
  font-size: 0;
}
footer .footer-nav li a i {
  display: block;
  color: #ff9344;
  font-size: 35px;
  margin-bottom: 4px;
}
footer .footer-nav li a span {
  font-size: 12px;
}

body {
  padding: 62.5px 0 67.5px;
}

#main {
  padding: 0 11.5px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 62.5px;
  background: #fff;
  padding: 24px 11.5px 9px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
header .back-btn {
  width: 61.5px;
  height: 28.5px;
  border: 1px solid #ff9344;
  border-radius: 10px;
  text-align: center;
  line-height: 28.5px;
}
header h2.title {
  flex: 2;
  height: 100%;
  height: 28.5px;
  line-height: 28.5px;
  font-size: 13px;
  font-weight: normal;
  text-align: center;
}
header .cityBar {
  width: 79.5px;
  height: 28px;
  border: 1px solid #ff9344;
  border-radius: 2px;
  position: relative;
}
header .cityBar select {
  width: 100%;
  height: 100%;
  border: none;
  background-image: url(../assets/images/home/jiantou.png);
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 15px 7.5px;
  background-color: #fff;
  padding-left: 7.5px;
  -webkit-appearance: none;
  appearance: none;
}
header .cityBar select option {
  width: 100%;
  background: #fff;
}

header .tidings {
  font-size: 0;
}
header .tidings i {
  display: inline-block;
  width: 31px;
  height: 21.5px;
  color: #ff9344;
  font-size: 31px;
  position: relative;
  line-height: 1;
}
header .tidings i:after {
  content: "2";
  position: absolute;
  top: -50%;
  right: 0;
  transform: translateY(50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #fa5050;
  color: #fff;
  font-size: 12px !important;
  text-align: center;
  line-height: 14px;
}

#main {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
#main .info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.26rem;
}
#main .info img {
  width: 85px;
  height: 85px;
}
#main .info .text {
  width: calc(100% - 85px);
  margin-left: 12.5px;
  padding-right: 25px;
  position: relative;
}
#main .info .text:after {
  content: "";
  font-family: "iconfont";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 20.5px;
  height: 23px;
  font-size: 20.5px;
  color: #000;
}
#main .info .text a {
  font-size: 15px;
  color: #000;
}
#main .info .text p {
  font-size: 13px;
  color: #9d9d9d;
  margin-top: 18.5px;
}
#main .shop .guild {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
#main .shop .guild .item {
  width: 1.95rem;
  height: 1.51rem;
  text-align: center;
}
#main .shop .guild .item:not(:last-of-type) {
  margin-right: 0.6rem;
}
#main .shop .guild .item a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
  padding-top: 0.14rem;
}
#main .shop .guild .item a img {
  display: block;
  width: 0.8rem;
  margin: 0 auto 0.1rem;
}
#main .shop .guild .item a img.coupons {
  width: 1.24rem;
}
#main .shop .guild .item a span {
  color: #000;
  font-size: 0.26rem;
}
#main .shop .guild .review {
  background-color: #b2e0a0;
}
#main .shop .guild .review img {
  width: 0.79rem;
}
#main .shop .guild .collect {
  background-color: #a0dce0;
}
#main .shop .guild .collect img {
  width: 0.84rem;
}
#main .shop .guild .coupons {
  background-color: #e0b7a0;
}
#main .shop .guild .coupons img {
  width: 1.24rem;
}
#main .shop .container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
}
#main .shop .container div h5 {
  font-weight: normal;
}
#main .shop .container div h5 img {
  vertical-align: middle;
}
#main .shop .container div h5 span {
  font-size: 0.26rem;
}
#main .shop .container div div {
  font-size: 0;
}
#main .shop .container div div a span {
  color: #000;
  font-size: 0.24rem;
  margin-right: 0.08rem;
}
#main .shop .container div div a i {
  color: #ff9344;
  font-size: 0.25rem;
}
#main .shop .container .money {
  margin-bottom: 0.23rem;
}
#main .shop .container .money h5 img {
  width: 0.57rem;
  margin-right: 0.38rem;
}
#main .shop .container .comment {
  margin-bottom: 0.33rem;
}
#main .shop .container .comment h5 img {
  width: 0.71rem;
  margin-right: 0.26rem;
}
#main .shop .container .find-friends {
  margin-bottom: 0.42rem;
}
#main .shop .container .find-friends h5 img {
  width: 0.94rem;
  margin-right: 0.04rem;
}
#main .shop .container .footprint {
  margin-bottom: 0.79rem;
}
#main .shop .container .footprint h5 img {
  width: 0.59rem;
  margin-right: 0.36rem;
}
#main .shop .container .settings {
  margin-bottom: 0.24rem;
  height: 0.79rem;
}
#main .shop .container .settings h5 img {
  width: 0.78rem;
  margin-right: 0.2rem;
}
#main .shop .container .contect {
  margin-bottom: 0;
}
#main .shop .container .contect h5 img {
  width: 0.84rem;
  margin-right: 0.2rem;
}
#main .btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.36rem 0 0.4rem;
}
#main .btn-wrap form {
  font-size: 0;
}
#main .btn-wrap form input {
  width: 73.5px;
  height: 38px;
  background: #ff9344;
  border-radius: 38px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  -webkit-appearance: none;
}
#main .btn-wrap form .signOut {
  margin-right: 122px;
}

/*# sourceMappingURL=profile.css.map */
