@charset 'utf-8';
/*
  单位换算
    rem 实质上是算比例，设计图尺寸 / 1 比 1设计图时的跟字体大小   
*/

@function r($px) {
  @return ($px / 100) * 1rem;
}

// 通常设计图是2倍图，变成1倍图
@function half($px) {
  @return ($px / 2) * 1px;
}

// 主题色
$orange: #ff9344;

// 底部
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  // height: r(135);
  height: half(135);
  background: #fff;
  box-sizing: border-box;

  // 底部导航
  .footer-nav {
    @include flex(space-between, stretch);
    // padding: half(12) half(50);
    padding-top: half(12);

    li {
      width: calc(100% / 4);
      text-align: center; 
      font-size: 0;

      a {
        display: block;
        width: 100%;
        height: 100%;
        color: #000;
        font-size: 0;

        i {
          display: block;
          color: $orange;
          font-size: half(70);
          margin-bottom: 4px;
        }

        span {
          font-size: 12px;
        }
      }
    }
  }

}